<!-- // J4 - 2 -->
<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>PrevIT</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- ClairPrev Prévoyance     -->
<!-- </body> -->
<!-- </html> -->

<!-- // J4 - 3 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ClairPrev - PrevIT</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>ClairPrev Prévoyance - Rechercher un assuré</h1>

		<!-- //J4 - 8 -->
		<!-- 		<div class="row"> -->
		<!-- 			<table class="table"> -->
		<!-- 				<thead> -->
		<!-- 					<tr> -->
		<!-- 						<th th:text="Prenom"></th> -->
		<!-- 						<th th:text="Nom"></th> -->
		<!-- 						<th th:text="NumeroAssure"></th> -->
		<!-- 					</tr> -->
		<!-- 				</thead> -->
		<!-- 				<tbody> -->
		<!-- 					<tr th:each="assure : ${assures}" class="col-md-4 my-1"> -->
		<!-- 						<td th:text="${assure.prenom}"></td> -->
		<!-- 						<td th:text="${assure.nom}"></td> -->
		<!-- 												<td th:text="${assure.numeroAssure}"></td> -->

		<!-- 						//J4 - 9 -->
		<!-- 												<td><a -->
		<!-- 													th:href="@{|/Assure/numeroAssure/${assure.numeroAssure}|}" -->
		<!-- 													th:text="${assure.numeroAssure}"> </a></td> -->
		<!-- 						//J4 - 9 -->

		<!-- 					</tr> -->
		<!-- 				</tbody> -->
		<!-- 			</table> -->
		<!-- //J4 - 8 -->

		<!-- //J4 - 10 -->
		<div class="col-md-4 mx-auto mt-5 text-center">
			<p>
			<form th:action="@{/input-Insured}" th:object="${insuredBean}"
				method="POST">
				Nom : <input type="text" th:field="*{lastname}" /> <br /> firstname : <input
					type="text" th:field="*{firstname}" /> <br /> <input type="submit"
					value="Valider" />
			</form>
			</p>
		</div>
		<!-- //J4 - 10 -->

	</div>
	</div>
	<!-- //J4 - 8 -->

	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>

