<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>Enregistrement</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/enregistrer}" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Enregistrement</h1>
                <div th:if="${param.error}">
                    Mail et mot de passe invalides.
                </div>
                <div th:if="${param.logout}">
                    Vous avez été déconnecté.
                </div>
                <label for="inputUsername" class="sr-only">Informations</label>
                <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="mail" required="" />
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="motdepasse" id="inputPassword" class="form-control" placeholder="Password" required="" />
                <label for="inputFullname" class="sr-only">Nom</label>
                <input type="text" name="nomComplet" id="inputEmail" class="form-control" placeholder="NomComplet" required="" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
            </form>
            <form class="form-signin" th:action="@{/connecter}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Connexion</button>
            </form>
        </div>
    </body>
</html>